*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'times new roman', serif;
}
body{
  height: 100vh;
  background-color: burlywood;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

