div{
  display: flex;
  flex-direction: column;
  background-color: darksalmon;
  padding: 20px;
}
h6{
  color: blue;
  font-size: large;
  display: flex;
  justify-content: center;
  
}
h1{
  color: brown;

}
button:hover{
  background-color: rgb(119, 119, 213);
}